@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
#bueyuk-harf {
    position: absolute;
    
    top: 40%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20vw; /* Ekranın %10'u kadar genişlik */
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: none;
   
    user-select: none; /* Metni seçilemez yapar */
}

#alt-buton {
position: absolute;
top: 80%; /* Yazının altına yerleştirildi, istediğiniz konuma göre ayarlayabilirsiniz */
width: 100%;
float: center;


}

html, body {
    background: #222;
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: 'Roboto', sans-serif;
}



#container {
    position: relative;
}

.Mahekjain-button-1 {
all: unset;
position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

width: 100px;
height: 30px;
font-size: 16px;
background: transparent;
border: none;
position: relative;
color: #f0f0f0;
cursor: pointer;
z-index: 1;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

}


.genis-div {
    width: 100%;
    
    padding: 0px;
    padding: 50px 0px 20px 0px;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    background-color: #45474B;
    
    
    

}

.logomain{
	width: 50%;
   
}

.carddd{
    width: 80%;
    height: 200px;
    background-color: #379777;
    margin-bottom: 10px;
}

.headerr {
    width: 100%;
    height: 50px;
    right: 20%;
    background-color: #379777;
    position: fixed;
    top: 0px;
    display: flex;           /* Flexbox ile hizalama */
    /* Yatay ortalama */
    align-items: center;     /* Dikey ortalama */
    padding-left: 20px;
    padding-right: 2%;
    justify-content: center;
    border-bottom: 1px solid #F4CE14;
    z-index: 10000;
}

.headerr .imglogo {
    max-height: 30px;
}

p{
    font-family: "Rubik Mono One", monospace;
    color: #f0f0f0;
}

.menu{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 20%;
    background-color: #F4CE14;
    height: 50px;
    align-items: center; 
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    color: #222;
    font-size: 200%;
    justify-content: center;
    border-bottom: 1px solid #F4CE14;
}

.entertext{
    background-color: wheat;
    height: 100%;
    display: flex;
    justify-content: center;
    
    font-size: 200px;
    color:  rgb(23, 64, 198);
    padding-top: 80px;
    width: 100%;
    overflow: hidden;

    
}
.entertext p{
     color: #379777;  
     font-family: "Bebas Neue", sans-serif; 
     transform: rotate(-25deg);
     padding: 0;
     margin: 0;
}

footer{
    background-color: #F4CE14;
    padding: 1%;
    border-top: 1px solid #379777;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer p{
    font-family: "lora", serif;
    font-weight: 900;
    font-style: normal;
    
    color: #222;
    
}
