.workcard{
    width: 800px;
    height: 400px;
    margin: 50px;
    background-color: red;
}

.workbody{
    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
     
}

@media (max-width: 760px) {
    .workcard{
        width: 80%;
        height: 400px;
        margin: 10%;
        background-color: red;
    }
}
