@media (min-width: 700px) {
    .bottom-nav {
        display: none;
    }
    .toggle{
        display: none;
    }
    
    .item{
        font-size: 20px;
    }

    main{
        padding-left: 0px;
        padding-right: 00x;
    }

    body{
        padding-left: 20px;
        padding-top: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Her satıra 4 sütun ekler */
        justify-content: center;
        justify-items: center; /* Öğeleri yatayda ortalar */
    align-content: center;
    width: 45%;
    font-size: 15px;
        justify-content: center;
    }


    
  
}

@media (max-width: 700px) {
    .menu{
        display: none;
    }
    .item{
        height: 100px;
        font-size: 10px;
    }

    .container{
        max-width: 80%;
    }


}


